<a href="https://colab.research.google.com/github/usnhee/TIL-/blob/master/PandasStyling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Styling

In [1]:
import pandas as pd
import numpy as np

np.random.seed(88)
df = pd.DataFrame({'A': np.linspace(1,10,10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10,4), columns=list('BCDE'))], axis=1)
df.iloc[3,3] = np.nan
df.iloc[0,2] = np.nan

print(df)

      A         B         C         D         E
0   1.0  0.106884       NaN  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133       NaN  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [2]:
df.style.highlight_max()

In [3]:
df.style.highlight_max(axis=1)

In [4]:
df.style.highlight_min()

In [5]:
df.style.highlight_null()

In [6]:
df.style.set_na_rep('OutofScope').highlight_null(null_color='orange')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  """Entry point for launching an IPython kernel.

In [7]:
df.style.background_gradient()    # heatmap

1. **cmap** : by default, the 'PuBu' colormap is selected by pandas. 
You can create a custom matplotlib colormap and pass it to 
the cmap parameter.
2. **axis** : generating heat via rows or columns criteria, by default: 
columns
3. **text_color_threshold** : controls text visibility across varying 
background colors

In [8]:
df.style.set_properties(**{'border':'1.3px solid green', 'color': 'magenta'})

In [9]:
df.style.bar(color = 'green')

In [10]:
df.style.set_precision(2)   # 소수점 자리수 지정

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  """Entry point for launching an IPython kernel.

In [19]:
df.style.set_caption("This is DataFrame styling demo.").set_precision(2).background_gradient()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  """Entry point for launching an IPython kernel.

In [20]:
df.style.hide_index()

In [21]:
df.style.hide_columns('B')

In [22]:
df.style.format("{:.3%}")   
## 소수점아래 셋째자리까지 표시, 퍼센트로.

In [23]:
df.style.format("{:.3%}", na_rep="$$")   
## na 표시는 $$로

In [24]:
df.style.set_precision(2).background_gradient().hide_index().to_excel('styled.xlsx', engine='openpyxl')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  """Entry point for launching an IPython kernel.

## Asterisk 연습

# 새 섹션

In [11]:
def foo(a,b,c):
  print(a,b,c)

In [12]:
v=[5,8,4]
foo(v[0],v[1],v[2])

5 8 4

In [13]:
foo(*v
)

5 8 4

In [14]:
def bar(a=4, b=7, c=8):
  print(a,b,c)

In [17]:
d={'b':10, 'c':41, 'a':67}

In [18]:
bar(**d)   # 순서도 알아서 맞춰줌.

67 10 41