<a href="https://colab.research.google.com/github/usnhee/TIL-/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%98%88%EC%A0%9C1%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-1. 딕셔너리-> 시리즈 변환

In [2]:
import pandas as pd
dict_data = {'a':1,'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print('\n')

print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

1-2. 시리즈 인덱스

In [5]:
import pandas as pd

list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

1-3. 시리즈 원소 선택

In [10]:
tup_data = ('영인','2010-05-01','여',True)
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
print(sr)

print(sr[0])
print(sr['이름'])

print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
영인
생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

1-4. 딕셔너리->데이터프레임 변환

In [11]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

1-5. 행 인덱스, 열 이름 설정

In [14]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],\
                  index=['중서','예은'],\
                  columns=['age','sex','school'])

print(df)
print('\n')
print(df.columns)
print('\n')
print(df.index)
print('\n')


df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

print(df)
print('\n')
print(df.columns)
print('\n')
print(df.index)
print('\n')

    age sex school
중서   15   남    덕영중
예은   17   여    수리중


Index(['age', 'sex', 'school'], dtype='object')


Index(['중서', '예은'], dtype='object')


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['연령', '남녀', '소속'], dtype='object')


Index(['학생1', '학생2'], dtype='object')

1-6. 행인덱스, 열이름 변경

In [15]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],\
                  index=['준서','예은'],\
                  columns=['나이','성별','학교'])
print(df)
print('\n')

df.rename(columns={'나이':'연령', '성별':'남여', '학교':'소속'},inplace=True)

df.rename(index={'준서':'학생1','예은':'학생2'},inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남여   소속
학생1  15  남  덕영중
학생2  17  여  수리중

1-7. 행 삭제 
 
 - drop() : 행 삭제 (default) 
 - 열 삭제 시 : axis=1

In [17]:
exam_data = {'수학':[90,80,70],'영어':[98,89,95],\
             '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
print('\n')

df2=df[:]
df2.drop('우현',inplace=True)
print(df2)
print('\n')

df3=df[:]
df3.drop(['우현','인아'],axis=0,inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

1-8. 열삭제

In [18]:
df4 = df.copy()
df4.drop('수학',axis=1,inplace=True)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어','음악'],axis=1,inplace=True)
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

1-9. 행 선택

In [19]:
label1 = df.loc['서준']
position1=df.iloc[0]
print(label1)
print('\n')
print(position1)

label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)

label3=df.loc['서준':'우현']
position3=df.iloc[0:1]

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

1-10. 열선택

In [23]:
exam_data = {'이름':['서준','우현','인아'], '수학':[90,80,70],\
             '영어':[98,89,95],\
             '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data)


math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

eng = df.영어
print(eng)
print(type(eng))

music_gym=df[['음악','체육']]   ##  이중괄호: dataframe
print(music_gym)
print(type(music_gym))
print('\n')

math2=df[['수학']]
print(math2)
print(type(math2))

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

1-11, 원소 선택

In [27]:
exam_data = {'이름':['서준','우현','인아'], '수학':[90,80,70],\
             '영어':[98,89,95],\
             '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)

a = df.loc['서준','음악']
print(a)
b=df.iloc[0,2]
print(b)

c=df.loc['서준',['음악','체육']]
print(c)
d=df.iloc[0,[2,3]]
print(d)
e=df.loc['서준','음악':'체육']
print(e)
f=df.iloc[0,2:]

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
85
85
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [29]:
g=df.loc[['서준','우현'],['음악','체육']]
print(g)
h=df.iloc[[0,1],[2,3]]
print(h)
i=df.loc['서준':'우현','음악':'체육']
print(i)
j=df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

1-12. 열추가

In [30]:
df['국어']=80

1-13. 행추가

In [31]:
df.loc[3] = 0

df.loc[4]=['동규',90,80,70,60]

df.loc['행5']=df.loc[3]
print(df)

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60
행5   0   0    0    0   0